@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-button {
  background-color: #fee384;
  color: #181818;
  font-size: 20px;
  font-family: "Darumadrop One", cursive;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.custom-button:hover {
  background-color: #ccb667;
  transform: scale(1.05);
  cursor: pointer;
}

.custom-button:active {
  background-color: #430505;
  transform: scale(0.95);
}

.button2 {
  background-color: #d22b2b;
  color: #e6d4d4;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  margin-top: 21px;
  margin-left: 130px;
  width: 40px;
  height: 40px;
  font-size: 48px;
  transform: scale(1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-variation-settings: "FILL" 10, "wght" 300, "GRAD" 200, "opsz" 48;
}

.button2:hover {
  cursor: pointer;
}
